body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: rgba(0, 0, 0, 0.794);
  color: whitesmoke;
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}


.nav-links {
  list-style:none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  text-decoration:none;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.btn {
  height: 2.25em;
  border: 2px solid black;
  box-shadow: 2px 4px black;
  background-color:lightseagreen;
  color: white;
}